@import './src/common/styles/sass/variables';

.headerBlock {
  height: 60px;

  .headerContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    @media only screen and (max-width: 1150px) {
      justify-content: center;
    }

    .header {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: fixed;
      left: 0;
      z-index: 9999;
      width: 100%;
      height: 60px;
      background-color: $headerAndFooterColor;
    }
  }

}