@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 45%;
  height: 50%;

  @media only screen and (max-width: 1150px) {
    width: 100%;
  }
  @media only screen and (max-width: 420px) {
    display: none;
  }

  .navLink {
    @include text($fontFamilyStyle, 24px, 700, $primaryColor);
    transition: .3s;
    @media only screen and (max-width: 900px) {
      font-size: 20px;
    }
    @media only screen and (max-width: 700px) {
      font-size: 18px;
    }

    &:hover {
      color: $textColor;
    }
  }
}