.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    min-height: 100%;
    margin: 0 auto;
    padding: 40px 0;
    background-color: #111111;
    border: 1px solid;
}