.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 40px 0;
    border: 1px solid;
}

.sectionTitle {
    background-color: #eeeef5;
    font-size: 28px;
}

@media only screen and (max-width: 650px) {
    .sectionTitle {
        background-color: #eeeef5;
        font-size: 24px;
    }
}