.contactBlock {
    height: 100%;
    background-color: #111111;
}

.contactContainer {
    flex-direction: column;
    justify-content: flex-start;
    background-color: #252525;
}

.contactForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 450px;
    border: 1px solid;
}

.contactInput {
    width: 100%;
    height: 50px;
    font-size: 15px;
    padding: 0;
}

.contactTextArea {
    width: 100%;
    height: 200px;
    font-size: 16px;
    padding: 0;
}

@media only screen and (max-width: 1000px) {
    .contactForm {
        width: 100%;
    }
}