.contactBlock {
    height: 100%;
    background-color: #D7FCD7;
}

.contactContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.divContactTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}

.contactTitle {
    background-color: #eeeef5;
    font-size: 30px;
}

.contactForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 450px;
    border: 1px solid;
}

.contactInput {
    width: 100%;
    height: 50px;
    font-size: 15px;
    padding: 0;
}

.contactTextArea {
    width: 100%;
    height: 200px;
    font-size: 16px;
    padding: 0;
}

.contactButton {
    width: 140px;
    height: 45px;
    font-size: 14px;
}

@media only screen and (max-width: 1000px) {
    .contactForm {
        width: 100%;
    }
    .contactButton {
        width: 110px;
        height: 35px;
        font-size: 14px;
    }
}