.contactBlock {
    height: 100%;
    background-color: #D7FCD7;
}

.contactContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.contactTitle {
    background-color: #eeeef5;
}

.contactForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 450px;
    border: 1px solid;
}

.contactInput {
    width: 100%;
    height: 50px;
    padding: 0;
}

.contactTextArea {
    width: 100%;
    height: 200px;
    padding: 0;
}

.contactButton {
    width: 150px;
    height: 50px;
}