@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';

.divTitle {
  position: relative;
  width: 100%;
  @include flexBox(row, center, center, nowrap);
  margin-bottom: 40px;

  &::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: $primaryColor;
    width: 80px;
    height: 1px;
  }

  .title {
    @include text($fontFamilyStyle, 30px, 700, $primaryColor);
    margin: 0;
    @media only screen and (max-width: 700px) {
      font-size: 25px;
    }
    @media only screen and (max-width: 400px) {
      font-size: 23px;
    }
    @media screen and (orientation:landscape) and (min-height: 200px) and (max-height: 450px) {
      font-size: 24px;
    }
  }
}