@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';

.divTitle {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;

  &::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: $primaryColor;
    width: 80px;
    height: 1px;
  }

  .title {
    @include text($fontFamilyStyle, 30px, 700);
    color: $primaryColor;
    margin: 0;
    @media only screen and (max-width: 650px) {
      font-size: 26px;
    }
  }
}