.divSectionTitle {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.divSectionTitle::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: #FFB400;
    width: 80px;
    height: 1px;
}

.sectionTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #FFB400;
    margin: 0;
}