@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';

.burgerNav {
  width: 100%;
  heigth: 100%;
  background-color: silver;
  @media only screen and (max-width: 1150px) {
    width: 100%;
  }
  @media only screen and (min-width: 420px) {
    display: none;
  }

  .burgerNavItems {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height: 0;
    right: 0;
    left: 0;
    top: 0;
    background-color: $bgSecondColor;
    padding: 15px;
    transition: .5s;
    transform: translate(0, -300px);

    .navLink {
      @include text($fontFamilyStyle, 25px, 700, $primaryColor);
      transition: .3s;

      @media only screen and (max-width: 600px) {
        @include text($fontFamilyStyle, 18px, 700, $primaryColor);
      }

      &:hover {
        color: $textColor;
      }
    }
  }

  .burgerButton {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-color: $primaryColor;
  }

  .showBurger {
    transform: translate(0, 0);
    height: 300px;
  }
}