@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 40px;

  @media only screen and (max-width: 700px) {
    width: 70px;
    height: 40px;
  }

  .linkText {
    @include text($fontFamilyStyle, 16px, 500, $textColor);

    &:hover {
      color: $primaryColor;
    }

    @media only screen and (max-width: 700px) {
      @include text($fontFamilyStyle, 13px, 500, $textColor);
    }
    @media only screen and (max-width: 450px) {
      @include text($fontFamilyStyle, 11px, 500, $textColor);
    }
  }
}