.link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 40px;
    background-color: #01e2e2;
    font-size: 14px;
    border: 1px solid;
}

@media only screen and (max-width: 800px) {
    .link {
        width: 70px;
        height: 40px;
        font-size: 10px;
    }
}