.skillsBlock {
    height: 100%;
    background-color: #d7fcd7;
}

.skillsContainer {
    flex-direction: column;
}

.divSkillsTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}

.skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid;
}

@media only screen and (max-width: 1000px) {
    .skills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}

@media only screen and (max-width: 650px) {
    .skills {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: none;
        grid-gap: 20px;
    }
}