@import './src/common/styles/sass/mixins';
@import './src/common/styles/sass/variables';

.mainBlock {
  height: 100%;
  background-color: $bgColor;

  .mainContainer {
    @media only screen and (max-width: 1150px) {
      flex-direction: column;
      align-items: center;
    }

    .mainText {
      border: 2px solid $primaryColor;
      border-radius: 30px;
      padding: 10px;
      @media only screen and (max-width: 1150px) {
        width: 80%;
        margin-bottom: 25px;
      }

      .mainNameText {
        @include text($fontFamilyStyle, 40px, 700, $primaryColor);
        @media only screen and (max-width: 1150px) {
          font-size: 28px;
        }
      }

      .mainPositionText {
        @include text($fontFamilyStyle, 40px, 700, $textColor);
        @media only screen and (max-width: 1150px) {
          font-size: 28px;
        }
      }
    }

    .mainPhoto {
      width: 280px;
      height: 400px; /*!!!!*/
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border: 2px solid $primaryColor;
      border-radius: 30px;
      background-color: $bgSecondColor;
      @media only screen and (max-width: 1150px) {
        width: 60%;
        height: 70vw;
      }
    }
  }
}