.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    background-color: gainsboro;

}

.projectImage {
    width: 100%;
    height: 30vh;
    background-color: #02b1b1;
}

.projectDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #D9D9D9;
}

.projectNameText {
    font-size: 18px;
}

.projectDescriptionText {
    font-size: 16px;
}

.projectButtonContainer {
    display: flex;
    justify-content: center;
}

.projectButton {
    width: 150px;
    height: 50px;
    margin: 15px;
    font-size: 14px;
}

@media only screen and (max-width: 1150px) {
    .project {
        width: 100%;
    }
}