@import './../../common/styles/sass/variables';
@import './../../common/styles/sass/mixins';

.project {
  @include flexBox(column, stretch, center, nowrap);
  width: 100%;
  background-color: $bgSecondColor;
  border-radius: 5px;

  .projectImage {
    width: 100%;
    height: 260px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
    border-bottom: 7px solid $primaryColor;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    overflow: hidden;
    transition: background-size 1s;
    @media only screen and (max-width: 800px) {
      background-size: cover;
    }

    @media only screen and (min-width: 850px) and (min-height: 600px) {
      &:hover {
        background-size: 130%;
      }
    }
  }

  .projectBody {
    @include flexBox(column, space-between, stretch, nowrap);

    .projectInfo {
      padding: 20px 20px 10px;

      .nameProjectText {
        @include text($fontFamilyStyle, 20px, 700, $primaryColor);
        margin: 0 0 6px;
      }

      .descriptionProjectText {
        @include text($fontFamilyStyle, 16px, 500, $textColor);
        margin: 0 0 10px;
      }

      .TechnologiesText {
        @include text($fontFamilyStyle, 16px, 600, $primaryColor);
        margin: 0;
      }
    }

    .projectButtonContainer {
      @include flexBox(row, center, stretch, nowrap);
    }
  }
}