.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #252525;
}

.projectImage {
    width: 100%;
    height: 260px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 7px solid #FFB400;
    transition: .3s;
}

.projectBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projectInfo {
    padding: 20px;
}

.nameProjectText {
    margin: 0 0 8px;
}

.projectButtonContainer {
    display: flex;
    justify-content: center;
}

.projectButton {
    width: 140px;
    height: 45px;
    margin: 15px;
    font-size: 14px;
}

@media only screen and (max-width: 1150px) {
    .projectButton {
        width: 110px;
        height: 35px;
        font-size: 14px;
    }
}