.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    background-color: gainsboro;
}

.projectImage {
    height: 250px;
    width: 450px;
    background-color: #02b1b1;
}

.projectDescription {
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
}

.projectNameText {
    padding: 10px;
}

.projectDescriptionText {
    padding: 10px;
}

.projectButtonContainer {
    display: flex;
    justify-content: center;
}

.projectButton {
    width: 100px;
    height: 50px;
    margin: 10px;
}

