@import './variables';

@media screen and (orientation:landscape) and (min-height: 200px) and (max-height: 450px) {

}

@mixin flexBox($flexDirection, $justifyContent, $alineItems, $flexWrap) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alineItems;
  flex-wrap: $flexWrap;
}

@mixin text($fontFamily, $fontSize, $fontWeight, $textColor) {
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $textColor;
}

@mixin inputAndTextArea($color, $border, $borderRadius, $transition) {
  color: $color;
  border: $border;
  border-radius: $borderRadius;
  outline: none;
  transition: $transition;
}

@mixin button($width, $height, $backgroundColor, $borderColor) {
  width: $width;
  height: $height;
  background-color: $backgroundColor;
  overflow: hidden;
  border: 3px solid $borderColor;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: .5s;
  @include text($fontFamilyStyle, 16px, 400, $textColor);
  @media screen and (orientation:landscape) and (min-height: 200px) and (max-height: 450px) {
    font-size: 14px;
  }
}

@mixin container() {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  min-height: 100%;
  margin: 0 auto;
  padding: 50px 0;
  border-radius: 5px;
}