.footerBlock {
    height: 100%;
    background-color: #d7e0fc;
}

.footerContainer {
    flex-direction: column;
    padding: 0;
}

.footerTitle {
    background-color: #eeeef5;
    border: 1px solid;
}

.divFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.divFooterTitle {

}

.footerLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 80px;
    padding: 0;
    border: 1px solid;
}

.footerRights {
    border: 1px solid;
}

@media only screen and (max-width: 800px) {
    .divFooterTitle {
        font-size: 1.05em;
    }
    .footerLinks {
        font-size: 0.7em;
    }
    .footerRights {
        font-size: 0.65em;
    }
}