.footerBlock {
    height: 100%;
    background-color: #d7e0fc;
}

.footerContainer {
    flex-direction: column;
    padding: 0;
}

.divFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.divFooterTitle {

}

.footerTitle {
    background-color: #eeeef5;
    font-size: 24px;
    border: 1px solid;
}

.footerLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 70px;
    padding: 0;
    margin: 0;
    border: 1px solid;
}

.footerRights {
    font-size: 14px;
    border: 1px solid;
}

@media only screen and (max-width: 800px) {
    .footerTitle {
        font-size: 15px;
    }

    .footerLinks {
        font-size: 10px;
    }

    .footerRights {
        font-size: 9px;
    }
}