@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';

.footerBlock {
  height: 100%;
  background-color: $headerAndFooterColor;
  margin-top: 80px;
  padding: 10px 0;

  .footerContainer {
    @include container();
    flex-direction: column;
    padding: 0;

    .divFooter {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: $headerAndFooterColor;

      .divFooterTitle {

        .footerTitle {
          @include text($fontFamilyStyle, 22px, 500, $primaryColor);
          margin: 0;
          &:hover {
            color: $textColor;
          }
          @media only screen and (max-width: 800px) {
            @include text($fontFamilyStyle, 16px, 500, $primaryColor);
          }
        }
      }

      .footerLinks {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        height: 40px;
        padding: 0;
        margin: 0;
      }
    }
  }
}