.projectsBlock {
    height: 100%;
    background-color: #d7e0fc;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.divProjectsTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}

.projectsTitle {
    background-color: #eeeef5;
    font-size: 30px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 100%;
    border: 1px solid;
}

@media only screen and (max-width: 1150px) {
    .projects {
        grid-template-rows: 1fr;
        grid-template-columns: none;
    }
}