.projectsBlock {
    height: 100%;
    background-color: #d7e0fc;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.projectsTitle {
    background-color: #eeeef5;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid;
}
